<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="__HOME_PUBLIC__css/style.css" />
    <!--[if lt IE 9]>
    <script src="__HOME_PUBLIC__js/html5.js"></script>
    <![endif]-->
    <script src="__COMMON_PUBLIC__js/jquery.js"></script>
    <script src="__HOME_PUBLIC__js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__COMMON_PUBLIC__js/layer/layer.js"></script>
</head>
<body>
{include file="../application/admin/view/layout/menu.html" /}
{include file="../application/admin/view/layout/left.html" /}
{block name="main"}{/block}
</body>
</html>
